extends ../layout

block title
  title Twitter | Sign-in

block content
  div(class="d-flex flex-row content justify-content-center mx-auto")
    form(class="card w-50 mt-5" method="post" action="/auth/sign-in")
      .card-header Connexion
      .card-body
        div
          label(for="email") Email
          input.form-control(type="text" name="email" id="email" value= email ? email : "")
        div
          label(for="password") Password
          input.form-control(type="password" name="password" id="password")
        if error
          .mt-1.text-danger #{ error }
        .mt-3.w-100
          input(type="submit" value="Sign-in" class="btn btn-primary ms-auto d-block")
